body {
  background: black;
}

h1 {
  color: #fdf0e0;
  text-align: center;
  font-size: 400;
}
.img_back {
  position: absolute;
  opacity: 0.8;
  top: 0px;
  bottom: 0px;
  background-size: cover;
}

.container {
  position: relative;
  top: 50px;
  display: block;
  margin: 50px auto;
  font-family: Poppins;
}

#current_weather {
  display: none;
  background-color: #fdf0e0;
  max-width: 830px;
  position: relative;
  left: 140px;
  border-radius: 4px;
  opacity: 0.8;
  border-color: #1d1ce5;
  padding: 10px;
}

.search_form {
  border: none;
  font-size: 14px;
  margin: 0 auto;
  line-height: 1.7;
  width: 850px;
  padding: 5px;
  font-style: italic;
}

#search_submit {
  border-radius: 6px;
  border: none;
  padding: 5px 15px 5px 15px;
  color: #fcffe7;
  background: #0002a1;
}

#search_city_name {
  border-color: #0002a1;
  border-radius: 6px;
  border-width: 1px;
  padding: 5px 15px 5px 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcffe7;
  width: 760px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  background-color: #f1f6f5;
  border-radius: 6px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
